
body {
	font-family:Montserrat;
}

.black-header
{
	background-color: #000000;
	color: #FFF;
	font-family:Montserrat;
	font-size: 0.8rem;
	height: 30px;
	padding-top:4px;
}
.swiper-container {
  width: 100%;
}
.swiper-slide img {
width: 100%;
}
.form-control {
	width: 100px !important;
}
.image-aboutus{
	margin-top:40px; padding-bottom: 40px 
}
h1 {
	font-size: 2rem !important; 
	font-family:Montserrat;
}
h1 span {
	font-family:Montserrat;
	color: #FFF;
}




h3 span {
	font-size: 1.7rem !important; 
	font-family:Montserrat;
	color: #FFF;
}

.about-us {
	background-color: #ebebeb;
}
.cameera {
	background-color: #000000;
}

.camere-detail {

	font-family:Montserrat;
	color: #FFF;
}


.imagen-room{
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	
}
.imagen-room > img{
	width: 100%;
	height: 100%;
}
.content-room-image{
	position: absolute;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	transition:all 1s ease;
	-moz-transition: all 1s ease;
	

}
.imagen-room:hover .content-room-image{
	top: 0;
}

.content-middle {
  top: 5%;
  left: 10%;
  -webkit-transform: translate(0%, 70%);
  -ms-transform: translate(0%, 70%);
  transform: translate(0%, 70%);
  text-align: center;
  font-family:Montserrat;
}

.content-middle-2 {
  top: 5%;
  left: 10%;
  -webkit-transform: translate(0%, 120%);
  -ms-transform: translate(0%, 120%);
  transform: translate(0%, 120%);
  text-align: center;
  font-family:Montserrat;
}




.content-middle-title {
  top: 5%;
  left: 10%;
  -webkit-transform: translate(0%, 400%);
  -ms-transform: translate(0%, 400%);
  transform: translate(0%, 400%);
  text-align: center;
  font-family:Montserrat;
}

.content-middle-3 {
  top: 5%;
  left: 10%;
  -webkit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  text-align: center;
  font-family:Montserrat;
}

.myButton {
	background-color:#ffffff;
	-moz-border-radius:41px;
	-webkit-border-radius:41px;
	border-radius:41px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	padding:5px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#ffffff;
	text-decoration: none;
	color:#000000;

}
.myButton:active {
	position:relative;
	top:1px;
}


.swiper-container-2 {
      width: 100%;
      height: 100%;
      margin:auto;
    }
    .swiper-slide {
    	position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.swiper-container-2{
	overflow: hidden;
}

.content-text-slider{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	width: 500px;
	height: 100%;
}
.contenedor_navigation_slider{
	position: absolute;
	width: 500px;
	height: 100px;
	bottom: 0;
	left: 0;
	z-index: 10;
	margin-left: 15px;
	margin-right: 15px;
}
.contenedor_navigation_slider .swiper-button-prev, 
.contenedor_navigation_slider .swiper-container-rtl .swiper-button-next{
	left: 50%;
	transform: translateX(-150%);
}
.contenedor_navigation_slider .swiper-button-next, 
.contenedor_navigation_slider .swiper-container-rtl .swiper-button-prev{
	right: 50%;
	transform: translateX(150%);

}
.top {
	margin-top: 40px
}

input .rounded-ultra {
border-radius: 148px 148px 148px 148px;
-moz-border-radius: 148px 148px 148px 148px;
-webkit-border-radius: 148px 148px 148px 148px;
border: 0px solid #000000;
}

.margin-bottom{
        margin-bottom: 59px;
    }
    @media screen and (min-width: 767px){
        .margin-bottom{
        margin-bottom: 0px;
    }
    }

    .black-000 {
    background-color: #000000;
}


.imagen-slider{
	position: relative;
	overflow: hidden;
	
	
}
.imagen-slider > img{
	width: 140%;
	height: auto;
}
.content-slider-image {
	position: absolute;
	top:-200%;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.7);
	transition:all 1s ease;
	-moz-transition: all 1s ease;
	

}
.imagen-slider:hover .content-slider-image{
	top:  0px;
	height: 89%;
}

.content-middle-slider {
  top: 100%;
  left: 15%;
  -webkit-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  text-align: center;
  font-family:Montserrat;
  
}


.swiper-container-3 {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

.block-dark {
background-color: #585858; width: 100%; height:53px; padding-top: 10px
}

.block-ligth {
background-color: #848484; width: 100%; height:53px; padding-top: 10px
}


.contenedor_navigation_slider_two{
	position: absolute;
	width: 100%;
	z-index: 1;
	margin-top: -20%


}
.contenedor_navigation_slider_two .swiper-button-prev, 
.contenedor_navigation_slider_two .swiper-container-rtl .swiper-button-next{
	left: 5%;
	transform: translateX(-150%);
}
.contenedor_navigation_slider_two .swiper-button-next, 
.contenedor_navigation_slider_two .swiper-container-rtl .swiper-button-prev{
	right: 5%;
	transform: translateX(150%);

}

.back-image {
	background-image: url("../images/13.jpeg");
	background-position: 0 75%;
	background-color: rgba(0, 0, 0, 0.5);
}

.minus-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.bg-gray {
	background-color: #585858;
}