body {
    margin: 0;
    font-family: $font-family-relaway;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f8fafc;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-family-relaway;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: .8rem;
}
label.field-label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.form-control.form-material{
    padding: .375rem 0rem !important;
}

input[placeholder*="Check-in"],input[placeholder*="Check-out"]{
    background-image: url('/images/iconos/calendar.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    background-origin: content-box;
}