.btn{
    padding: 0.175rem 1.75rem;
    border-radius: 1.25rem;
}
.btn-primary {
    background-color: #2ac093;
    border-color: #2ac093;
}

.btn-primary:hover {
    color: #fff;
    background-color: #21b186;
    border-color: #21b186;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #138160;
    border-color: #138160;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #2ac0938a;
}