// Paginacion swiper
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff !important;
    opacity: 0.9 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000 !important;
}

#swipper-header-slider-principal .swiper-slide{
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
#swipper-header-slider-principal .swiper-slide:nth-child(1){
    background-image: url('/images/home/header-slider/header-image-1.jpg');
}
#swipper-header-slider-principal .swiper-slide:nth-child(2){
    background-image: url('/images/home/header-slider/header-image-2.jpg');
}
#swipper-header-slider-principal .swiper-slide:nth-child(3){
    background-image: url('/images/home/header-slider/header-image-3.jpg');
}


// swiperr olbia #swipper-olbia-slider

#swipper-olbia-slider .swiper-slide{

}